<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<title>Salvabioverde</title>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

<div class="container">

  <div class="hero">
    <h1>Salvabioverde 🌿</h1>
    <p class="hero-text">
      No tires tu planta. Dale una segunda oportunidad.
    </p>
    <p class="hero-sub">
      Cada planta que salvamos es un pequeño ecosistema que vuelve a respirar.
    </p>
    <a href="#ayuda" class="btnHero">Necesito ayuda</a>
  </div>

  <div class="card">
    <h2>Antes / Después</h2>
    <div class="beforeAfter">
      <img src="{{ url_for('static', filename='img/foto1enfer.jfif') }}">
      <img src="{{ url_for('static', filename='img/foto1sana.jfif') }}">
    </div>
  </div>

  <div class="card" id="ayuda">
    <h2>Conectamos personas con ayuda real</h2>
    <p>
      Profesionales y amantes de las plantas ayudando a salvar vida verde.
    </p>
  </div>

  <footer>
    Salvabioverde © 2026
  </footer>

</div>

</body>
</html>